{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte avec votre email existe nous vous enverrons un lien pour ressaisir un mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas le lien, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
